<h2>Países</h2>
<hr>

<ul class="list-group">
  <!-- <li class="list-group-item" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Home page
  </li>
  <li class="list-group-item" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    About
  </li>
  <li class="list-group-item" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Contact
  </li> -->

  <li class="list-group-item" routerLink="countries/by-capital" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Por capital
  </li>
  <li class="list-group-item" routerLink="countries/by-country" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Por país
  </li>
  <li class="list-group-item" routerLink="countries/by-region" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Por región
  </li>
</ul>
